<a href="https://colab.research.google.com/github/Sanjanathakal/BIA-678/blob/master/DataPrep1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Uploading data from Drive :

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

Importing libraries:

In [3]:
pip install scikit-surprise

Collecting scikit-surprise
  Downloading scikit-surprise-1.1.1.tar.gz (11.8 MB)
     |████████████████████████████████| 11.8 MB 4.5 MB/s
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise) (1.1.0)
Requirement already satisfied: numpy>=1.11.2 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise) (1.19.5)
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise) (1.4.1)
Requirement already satisfied: six>=1.10.0 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise) (1.15.0)
Building wheels for collected packages: scikit-surprise
  Building wheel for scikit-surprise (setup.py) ... done
  Created wheel for scikit-surprise: filename=scikit_surprise-1.1.1-cp37-cp37m-linux_x86_64.whl size=1619395 sha256=6fe1678119896185348d3c2cec707de9bd7c016c08e58c957a84d2560557baa7
  Stored in directory: /root/.cache/pip/wheels/76/44/74/b498c42be47b2406bd27994e16c5188e337c657025ab400c1c
Successfully built scikit-surprise
Installing collected packages: scikit-surprise
Successfully installed scikit-surprise-1.1.1

In [4]:
import pandas as pd
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns
from surprise import BaselineOnly
from surprise import Dataset
from surprise import Reader
from surprise import SVD
from surprise.model_selection import cross_validate

Importing training and test Data

In [11]:
TrainingData = pd.read_csv("/content/drive/MyDrive/BIA PROJECT /DATA/newdata.csv")
TestingData = pd.read_csv("/content/drive/MyDrive/BIA PROJECT /DATA/testdata.csv")

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (0,1,4,5,7,14,19,20,23,28,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,60,61,62,65,66) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

Displaying Training and Testing Data

In [12]:
NewTrainingData = pd.DataFrame(TrainingData, columns=['customer_id','id','vendor_rating'])

In [13]:
NewTrainingData.head()

  customer_id  id  vendor_rating
0     TCHWPBT   4            4.4
1     TCHWPBT  13            4.7
2     TCHWPBT  20            4.5
3     TCHWPBT  23            4.5
4     TCHWPBT  28            4.4

In [14]:
newtestdata = pd.DataFrame(TestingData, columns=['customer_id','id','vendor_rating'])

In [15]:
newtestdata.head()

  customer_id    id  vendor_rating
0     ICE2DJP   4.0            4.4
1     ICE2DJP  13.0            4.7
2     ICE2DJP  20.0            4.5
3     ICE2DJP  23.0            4.5
4     ICE2DJP  28.0            4.4

In [18]:
NewTrainingData.to_csv('newTraindata.csv')
!cp newTraindata.csv "/content/drive/MyDrive/BIA PROJECT /DATA"

In [19]:
newtestdata.to_csv('newtestdata.csv')
!cp newtestdata.csv "/content/drive/MyDrive/BIA PROJECT /DATA"